<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/gigs">Gigs</a></li>
            <li><a href="/lessons">Lessons</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="https://www.electriccampfire.com/?utm_source=mocom&utm_medium=ctalink&utm_campaign=mosite&utm_content=main_nav">Learn Jazz Guitar Online</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
		</div><!-- /.container -->
		<footer>
    <ul>
        		<li><a href="mailto:mike@mikeoutram.com">email</a></li>
			</ul>
		</footer>
	</body>
</html>
